In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cuboulderdassahackathonclassification/sample submission.csv
/kaggle/input/cuboulderdassahackathonclassification/training.csv
/kaggle/input/cuboulderdassahackathonclassification/testing.csv
/kaggle/input/codons/Codons - Sheet1 (1).csv
/kaggle/input/codons/Codons - names.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import Data
df_submission = pd.read_csv("/kaggle/input/cuboulderdassahackathonclassification/sample submission.csv")
df_train = pd.read_csv("/kaggle/input/cuboulderdassahackathonclassification/training.csv")
df_test = pd.read_csv("/kaggle/input/cuboulderdassahackathonclassification/testing.csv")

## Preview df
print("Sample Submission:")
display(df_submission.head())
print("\n")

print("Training set Head")
display(df_train.head())
print("\n")

print("Testing set Head")
display(df_test.head())
print("\n")

Sample Submission:

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

      id Kingdom
0  10129     vrl
1  10130     pln
2  10131     pln

Training set Head

,id,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,1,pln,0.0,3886,4181,Phaseolus coccineus,0.02392,0.02966,0.00765,0.01794,...,0.00167,0.00789,0.01315,0.02966,0.02631,0.02822,0.02727,0.00096,0.00191,0.00144
1,2,arc,0.0,146920,1716,Acidianus tengchongenses,0.01748,0.01049,0.05361,0.01282,...,0.00000,0.03322,0.00524,0.04429,0.01340,0.05769,0.02214,0.00233,0.00000,0.00000
2,3,vrl,0.0,220938,1103,Tomato yellow leaf curl virus-[Almeria],0.02357,0.02267,0.01632,0.01088,...,0.00363,0.01995,0.01632,0.03083,0.01813,0.02992,0.01904,0.00363,0.00091,0.00091
3,4,pln,1.0,35128,9379,mitochondrion Thalassiosira pseudonana,0.0708,0.01397,0.07389,0.01685,...,0.00235,0.01386,0.00213,0.02143,0.00618,0.02506,0.00533,0.00341,0.00032,0.00661
4,5,rod,1.0,9995,1520,mitochondrion Marmota monax,0.04671,0.02632,0.03421,0.00000,...,0.00197,0.00263,0.00000,0.01053,0.01842,0.01382,0.00197,0.00000,0.00000,0.02895

Testing set Head

,id,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,10129,0,380134,3307,Fusarium oxysporum f. sp. colocasiae,0.00907,0.03145,0.00121,0.01270,0.01391,...,0.00000,0.00423,0.00121,0.02873,0.03538,0.00544,0.01875,0.00121,0.00121,0.00000
1,10130,0,235457,1357,Adeno-associated virus 11,0.01695,0.02800,0.00368,0.00590,0.00368,...,0.00663,0.01400,0.00442,0.01179,0.04348,0.01548,0.04274,0.00147,0.00000,0.00000
2,10131,2,34301,26766,chloroplast Nymphaea alba,0.03172,0.02272,0.02798,0.02167,0.02062,...,0.00497,0.01939,0.00770,0.03262,0.00897,0.03852,0.01487,0.00164,0.00090,0.00097
3,10132,0,5530,30838,Metarhizium anisopliae,0.01235,0.02299,0.00311,0.01362,0.01443,...,0.00519,0.00538,0.00451,0.02396,0.03502,0.01647,0.03424,0.00104,0.00062,0.00032
4,10133,1,398797,2402,mitochondrion Rhagophthalmus lufengensis,0.09159,0.01166,0.10991,0.00833,0.01499,...,0.00083,0.02748,0.00000,0.01249,0.00083,0.01873,0.00250,0.00291,0.00125,0.02581

In [3]:
## Dataset quick overview
df_train.info()
df_train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10218 entries, 0 to 10217
Data columns (total 70 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10218 non-null  int64
 1   Kingdom      10218 non-null  object
 2   DNAtype      10217 non-null  float64
 3   SpeciesID    10218 non-null  int64
 4   Ncodons      10218 non-null  int64
 5   SpeciesName  10218 non-null  object
 6   UUU          10218 non-null  object
 7   UUC          10218 non-null  object
 8   UUA          10218 non-null  float64
 9   UUG          10218 non-null  float64
 10  CUU          10218 non-null  float64
 11  CUC          10218 non-null  float64
 12  CUA          10218 non-null  float64
 13  CUG          10218 non-null  float64
 14  AUU          10218 non-null  float64
 15  AUC          10218 non-null  float64
 16  AUA          10218 non-null  float64
 17  AUG          10218 non-null  float64
 18  GUU          10218 non-null  float64
 19  GUC          10218 non-null  float64
 20  GUA          10218 non-null  float64
 21  GUG          10218 non-null  float64
 22  GCU          10218 non-null  float64
 23  GCC          10218 non-null  float64
 24  GCA          10218 non-null  float64
 25  GCG          10218 non-null  float64
 26  CCU          10218 non-null  float64
 27  CCC          10218 non-null  float64
 28  CCA          10218 non-null  float64
 29  CCG          10218 non-null  float64
 30  UGG          10218 non-null  float64
 31  GGU          10218 non-null  float64
 32  GGC          10218 non-null  float64
 33  GGA          10218 non-null  float64
 34  GGG          10218 non-null  float64
 35  UCU          10218 non-null  float64
 36  UCC          10218 non-null  float64
 37  UCA          10218 non-null  float64
 38  UCG          10218 non-null  float64
 39  AGU          10218 non-null  float64
 40  AGC          10218 non-null  float64
 41  ACU          10218 non-null  float64
 42  ACC          10218 non-null  float64
 43  ACA          10218 non-null  float64
 44  ACG          10218 non-null  float64
 45  UAU          10218 non-null  float64
 46  UAC          10218 non-null  float64
 47  CAA          10218 non-null  float64
 48  CAG          10218 non-null  float64
 49  AAU          10218 non-null  float64
 50  AAC          10218 non-null  float64
 51  UGU          10218 non-null  float64
 52  UGC          10218 non-null  float64
 53  CAU          10218 non-null  float64
 54  CAC          10218 non-null  float64
 55  AAA          10218 non-null  float64
 56  AAG          10218 non-null  float64
 57  CGU          10218 non-null  float64
 58  CGC          10218 non-null  float64
 59  CGA          10218 non-null  float64
 60  CGG          10218 non-null  float64
 61  AGA          10218 non-null  float64
 62  AGG          10218 non-null  float64
 63  GAU          10218 non-null  float64
 64  GAC          10218 non-null  float64
 65  GAA          10218 non-null  float64
 66  GAG          10218 non-null  float64
 67  UAA          10218 non-null  float64
 68  UAG          10218 non-null  float64
 69  UGA          10218 non-null  float64
dtypes: float64(63), int64(3), object(4)
memory usage: 5.5+ MB

,id,DNAtype,SpeciesID,Ncodons,UUA,UUG,CUU,CUC,CUA,CUG,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
count,10218.000000,10217.000000,10218.000000,1.021800e+04,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,...,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000
mean,5109.500000,0.382500,130212.992366,8.493614e+04,0.020608,0.014113,0.017787,0.018242,0.019000,0.018496,...,0.005407,0.009980,0.006448,0.024180,0.021161,0.028328,0.021685,0.001646,0.000597,0.006136
std,2949.826859,0.745726,124962.194019,7.967475e+05,0.020598,0.009267,0.010587,0.014573,0.024199,0.016692,...,0.006528,0.008585,0.006404,0.013738,0.013041,0.014305,0.015001,0.001854,0.000931,0.010261
min,1.000000,0.000000,11.000000,1.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2555.250000,0.000000,28449.500000,1.612250e+03,0.005600,0.007190,0.010840,0.007790,0.005280,0.007200,...,0.001210,0.001730,0.001180,0.012500,0.011883,0.017440,0.009743,0.000550,0.000000,0.000400
50%,5109.500000,0.000000,80945.000000,2.929000e+03,0.015230,0.013370,0.016080,0.014520,0.009635,0.012780,...,0.003520,0.009350,0.004585,0.025370,0.018985,0.026080,0.020610,0.001370,0.000420,0.001130
75%,7663.750000,1.000000,222462.500000,9.189000e+03,0.029530,0.019838,0.022730,0.025130,0.017350,0.024110,...,0.007110,0.015988,0.010340,0.034190,0.027740,0.036750,0.031008,0.002370,0.000840,0.002880
max,10218.000000,12.000000,465364.000000,4.066258e+07,0.151330,0.101190,0.085590,0.100350,0.157070,0.107370,...,0.055540,0.059350,0.055410,0.115110,0.113840,0.144890,0.158550,0.045200,0.025610,0.106700

In [4]:
## Why UUU and UUC are of object dtype
## Answer: No reason, probably an auto-detection error, so fix this by casting to float
print(f"UUU NA count: {df_train.UUU.isna().sum()}")  # 0; thus there are no NA
print(f"UUC NA count: {df_train.UUC.isna().sum()}")  # 0; thus there are no NA
print("\n")

## Finding why UUU is string
print("Test UUU dtype errors: ")
for i in df_train.UUU:
    try: 
        float(i)
    except: 
        print(f"Error: {i}")
print("\n")

## Finding why UUC is string
print("Test UUC dtype errors: ")
for i in df_train.UUC:
    try: 
        float(i)
    except: 
        print(f"Error: {i}")
print("\n")

UUU NA count: 0
UUC NA count: 0


Test UUU dtype errors:
Error: 12;I
Error: non-B hepatitis virus


Test UUC dtype errors:
Error: -

In [5]:
## Why DNA type is of dtype float?
## Answer: No reason, probably an auto-detection error, so fix this by casting to int
df_train.DNAtype.value_counts()

0.0     7268
1.0     2235
2.0      631
4.0       36
5.0       17
3.0       12
6.0       10
12.0       4
11.0       2
7.0        1
9.0        1
Name: DNAtype, dtype: int64

In [6]:
## There are a 10210 unique species  name
df_train.SpeciesName.value_counts()

Ageratum yellow vein Hualian virus-[Taiwan    3
Cotton leaf curl Rajasthan virus - [India     3
Escherichia coli O157                         2
Escherichia coli O111                         2
Squash leaf curl China virus - [Pumpkin       2
                                             ..
Sabia virus                                   1
plastid Bigelowiella natans                   1
chloroplast Globba racemosa                   1
Antheraea polyphemus                          1
Rinderpest virus                              1
Name: SpeciesName, Length: 10210, dtype: int64

In [7]:
## Are all entries of the same kingdom sampled from the same DNAtype?
## Answer: No, not all entries from the same kingdom use the same DNAtype as sample.
pd.pivot_table(df_train, values="id", index="DNAtype", columns="Kingdom", aggfunc="count")

Kingdom,arc,bct,inv,mam,phg,plm,pln,pri,rod,vrl,vrt
DNAtype,,,,,,,,,,,
0.0,99.0,2297.0,727.0,75.0,172.0,13.0,1188.0,69.0,46.0,2223.0,359.0
1.0,NaN,NaN,308.0,348.0,NaN,NaN,119.0,74.0,125.0,2.0,1259.0
2.0,NaN,NaN,1.0,NaN,NaN,NaN,623.0,NaN,NaN,3.0,4.0
3.0,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN,NaN,4.0,2.0
4.0,NaN,1.0,7.0,1.0,NaN,NaN,22.0,NaN,NaN,3.0,2.0
5.0,NaN,NaN,8.0,1.0,NaN,NaN,1.0,NaN,NaN,2.0,5.0
6.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0
7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
11.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
## Is the number of codons the same for each species when sampled from the same DNAtype?
mask = df_train.DNAtype == 0.0
display(df_train[mask].head())

## This shows that there are enough species that we don't have the same species under the same DNAtype
(df_train[mask].SpeciesID.value_counts() > 1).sum()

,id,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,1,pln,0.0,3886,4181,Phaseolus coccineus,0.02392,0.02966,0.00765,0.01794,...,0.00167,0.00789,0.01315,0.02966,0.02631,0.02822,0.02727,0.00096,0.00191,0.00144
1,2,arc,0.0,146920,1716,Acidianus tengchongenses,0.01748,0.01049,0.05361,0.01282,...,0.00000,0.03322,0.00524,0.04429,0.01340,0.05769,0.02214,0.00233,0.00000,0.00000
2,3,vrl,0.0,220938,1103,Tomato yellow leaf curl virus-[Almeria],0.02357,0.02267,0.01632,0.01088,...,0.00363,0.01995,0.01632,0.03083,0.01813,0.02992,0.01904,0.00363,0.00091,0.00091
9,10,bct,0.0,267748,235849,Mycoplasma mobile 163K,0.05621,0.00676,0.06110,0.01135,...,0.00011,0.02313,0.00174,0.04205,0.00486,0.06357,0.00544,0.00227,0.00042,0.00745
10,11,inv,0.0,6772,1256,Celuca pugilator,0.00876,0.02229,0.00318,0.00796,...,0.00876,0.00557,0.00637,0.02150,0.03583,0.01433,0.04061,0.00080,0.00080,0.00080

0

In [9]:
## Of the same species (identified as having the same SpeciesID), are there multiple DNAtypes?
## Answer: Probably not because by just looking at the counts of different species, most of the species only have one instance in the training set.
df_train.SpeciesID.value_counts()

3702      4
2771      4
4097      3
161934    3
280699    3
         ..
44158     1
202956    1
10990     1
117260    1
39007     1
Name: SpeciesID, Length: 9802, dtype: int64

In [10]:
## Do entries from the same Kingdom and same DNAtype have similar number of codons?
## Answer: No. The variance for each DNAtype and Kingdom is pretty high thus my hypothesis is that the Ncodons is heavily determined by the species
pd.pivot_table(df_train, values="Ncodons", index="DNAtype", columns="Kingdom", aggfunc=np.var)

Kingdom,arc,bct,inv,mam,phg,plm,pln,pri,rod,vrl,vrt
DNAtype,,,,,,,,,,,
0.0,9.490328e+10,2.334008e+11,9.214222e+11,3.783524e+11,3.841722e+08,7.995576e+07,2.043054e+12,2.398938e+13,1.394794e+13,1.449846e+11,1.377226e+11
1.0,NaN,NaN,2.333041e+08,4.705069e+08,NaN,NaN,1.384550e+08,1.093390e+12,1.961836e+08,1.557083e+08,7.348794e+07
2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.023154e+08,NaN,NaN,3.674703e+05,1.561151e+07
3.0,NaN,NaN,1.055742e+07,NaN,NaN,NaN,4.050009e+08,NaN,NaN,1.841473e+12,7.712820e+05
4.0,NaN,NaN,6.452285e+08,NaN,NaN,NaN,3.683072e+07,NaN,NaN,1.239499e+09,1.362420e+05
5.0,NaN,NaN,9.330423e+08,NaN,NaN,NaN,NaN,NaN,NaN,8.908856e+09,4.699747e+05
6.0,NaN,NaN,2.386215e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.061170e+04
11.0,NaN,NaN,1.534026e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,NaN,3.239856e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
## Reduce the dimensions of the data by mapping codons to amino acids

## Create a codon to amino acid map from dataset
codon_amino_table = pd.read_csv("/kaggle/input/codons/Codons - Sheet1 (1).csv")
codon_amino_table = codon_amino_table.iloc[:, [0, 3]].set_index("codon").to_dict()
codon_amino_table = codon_amino_table["fullname"]

print(f"Amino Acid Table Length: {len(set(codon_amino_table.values()))}")

## Map and concat to create dimension-reduced training dataset
transposed_codons = df_train.iloc[:, 6:].T.reset_index().rename(columns={"index": "codon"})
amino_abbrev = transposed_codons["codon"].map(codon_amino_table).rename(index="AminoAcidAbbrev")
display(amino_abbrev)

transposed_codons = pd.concat([amino_abbrev, transposed_codons], axis=1)
transposed_codons = transposed_codons.drop("codon", axis=1)

codons = transposed_codons.groupby(by="AminoAcidAbbrev", axis=0).sum().T
codons = pd.concat([df_train.iloc[:, :6], codons], axis = 1)
display(codons)

## Save the dimension-reduced dataset to CSV
codons.to_csv("training_data_aminoAcid.csv", index=False)

Amino Acid Table Length: 21

0     Phenylalanine
1     Phenylalanine
2           Leucine
3           Leucine
4           Leucine
          ...
59    Glutamic_acid
60    Glutamic_acid
61             Stop
62             Stop
63             Stop
Name: AminoAcidAbbrev, Length: 64, dtype: object

,id,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,Alanine,Arginine,Asparagine,Aspartic_acid,...,Lysine,Methionine,Phenylalanine,Proline,Serine,Stop,Threonine,Tryptophan,Tyrosine,Valine
0,1,pln,0.0,3886,4181,Phaseolus coccineus,0.06075,0.03779,0.06027,0.05597,...,0.05716,0.03038,0.023920.02966,0.04568,0.09017,0.00431,0.06147,0.0122,0.02775,0.06864
1,2,arc,0.0,146920,1716,Acidianus tengchongenses,0.09383,0.03904,0.03729,0.05769,...,0.081,0.02797,0.017480.01049,0.03847,0.06294,0.00233,0.04138,0.00816,0.02856,0.07342
2,3,vrl,0.0,220938,1103,Tomato yellow leaf curl virus-[Almeria],0.04624,0.06438,0.06437,0.04896,...,0.06256,0.02448,0.023570.02267,0.05803,0.08252,0.00545,0.05077,0.0136,0.04171,0.05621
3,4,pln,1.0,35128,9379,mitochondrion Thalassiosira pseudonana,0.04329,0.03305,0.05523,0.02761,...,0.08348,0.02356,0.07080.01397,0.03028,0.07623,0.01034,0.05481,0.00586,0.0468,0.06152
4,5,rod,1.0,9995,1520,mitochondrion Marmota monax,0.05592,0.02367,0.03684,0.02895,...,0.02631,0.00329,0.046710.02632,0.05789,0.06644,0.02895,0.07171,0.00263,0.04474,0.04605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10213,10214,vrl,0.0,390237,3057,White lupin mosaic virus,0.06118,0.0507,0.05332,0.05495,...,0.07785,0.03108,0.04678,0.03697,0.06575,0.00033,0.06084,0.01047,0.03337,0.06314
10214,10215,vrl,0.0,284687,3646,Amasya cherry disease associated chrysovirus,0.07652,0.06227,0.03922,0.06637,...,0.07104,0.04663,0.0277,0.03592,0.06226,0.0011,0.05594,0.02002,0.03867,0.07898
10215,10216,pln,0.0,3721,1289,Crambe hispanica subsp. abyssinica,0.08145,0.04887,0.04344,0.045,...,0.06516,0.02405,0.0481,0.04655,0.08845,0.00233,0.045,0.0256,0.0225,0.07913
10216,10217,pln,0.0,36902,11065,Medicago sativa subsp. x varia,0.07349,0.05333,0.0451,0.06001,...,0.06507,0.02268,0.03841,0.05006,0.0845,0.00279,0.05088,0.01157,0.02919,0.06951
10217,10218,vrl,0.0,39007,27774,Rinderpest virus,0.06672,0.05617,0.03632,0.06049,...,0.05476,0.02276,0.02884,0.04792,0.08688,0.00166,0.06375,0.01015,0.03388,0.05733